body {
    user-select: none;
    background-color: #ecf0f1;
}

p {
    margin: 2vh;
    text-align: justify;
}

h1 {
    margin-top: -0.1vh;
}

#plateau {
    border-radius: 2%;
    height: 85vh;
    width: 30vw;
    padding: 5vh;
    margin: 0 auto;
    background-color: #2980b9;
}

#cs_1_1, #cs_1_2, #cs_1_3, #cs_1_4, 
#cs_1_5, #cs_1_6, #cs_1_7, #cs_1_8,
#cs_1_9, #cs_1_10 {
    margin-left: 3vw;
}

#menuBleu {
    margin: 0;
    background-color: #2980b9;
}

#menuJaune {
    margin: 0;
    background-color: yellow;
}

#menuVert {
    margin: 0;
    background-color: #6ab04c;
}

#menuOrange {
    margin: 0;
    background-color: orange;
}

#menuBlanc {
    margin: 0;
    background-color: white;
}

#menuViolet {
    margin: 0;
    background-color:#9400d3;
}

#menuRose {
    margin: 0;
    background-color: #fd79a8;
}

#menuRouge {
    margin: 0;
    background-color: red;
}

.ligneMenu {
    margin-top: 3vh;
}

.caseJeton {
    height: 7vh;
    width: 7vh;
    margin-left: 1vh;
    display: inline-block;
    border-radius: 50px;
    background-color: #cfcfb8;
}

.caseSolution {
    height: 4vh;
    width: 4vh;
    margin-bottom: 1vh;
    margin-left: 1vh;
    display: inline-block;
    border-radius: 50px;
    background-color: white;
}

.ligne {
    margin-top: 1vh;
}

.menuGauche {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 4%;
    margin-left: -5vh;
    margin-top: 3vh;
    height: 90%;
    width: 20vw;
    padding-left: 5vh;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    background-color:#e74c3c;
    overflow-x: hidden;
    padding-top: 20px;
}
